.coach-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99990;
}

.coach-overlay-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 85%;
  max-height: 80%;
  text-align: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  margin: 40px 0; /* Space above and below */
}

.coach-overlay-content h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #182C63;
  margin-bottom: 20px;
}

.coach-overlay-content p {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.coach-values {
  font-size: 2rem;
  font-weight: bold;
  color: #182C63;
}

.coach-services-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.coach-service {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  text-align: left;
}

.coach-service h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #182C63;
  margin-bottom: 10px;
}

.coach-service p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

.coach-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #182C63;
}
