@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.Application-Page {
  font-family: "Montserrat", sans-serif;
  width: 90%;
  max-width: 1200px;
  margin: 100px auto 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #9fc2f3, #dbe2ef, #9bc5f3); /* Smooth gradient blending light blue to dark blue */
  color: #333;
}

.Application-Page .banner {
  width: 100%;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.Application-Page .banner-video {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.Application-Page .header {
  width: 80%;
  margin: 0 auto 20px auto;
  text-align: center;
}

.Application-Page .header h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #182C63;
}

.Application-Page .header p {
  font-size: 1.2rem;
  color: #666;
}

.Application-Page .form {
  width: 100%;
  margin: 0 auto;
}

.Application-Page .application-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Application-Page .form-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 48%; /* Adjust width to take 48% of the row, with space between them */
  min-width: 250px; /* Ensure a minimum width for smaller screens */
  margin-bottom: 20px;
}

.Application-Page .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.Application-Page .form-group input,
.Application-Page .form-group textarea,
.Application-Page .form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.Application-Page .form-group textarea {
  height: 100px;
  resize: vertical;
}

.Application-Page .application-form button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #182C63;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Application-Page .application-form button:hover {
  background-color: #101d42;
}

.Application-Page .confirmation-view {
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

.Application-Page .confirmation-view h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #182C63;
  margin-bottom: 20px;
}

.Application-Page .confirmation-view p {
  font-size: 1.2rem;
  color: #333;
}

.Application-Page .checkmark-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Application-Page select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.Application-Page button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #182C63;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.Application-Page button:hover {
  background-color: white;
  box-shadow: 10px 5px 5px rgb(255, 255, 255);
}

.Application-Page .json-button,
.Application-Page .health-button {
  width: 48%;
  margin: 0 1%;
  text-align: center;
}

.Application-Page .json-button:hover,
.Application-Page .health-button:hover {
  background-color: #101d42;
}
.starlabel label:after { 
  content:" *"; 
  color: red;
}

@media (max-width: 768px) {
  .Application-Page .form-group {
    width: 100%;
  }

  .Application-Page .json-button,
  .Application-Page .health-button {
    width: 100%;
    margin: 10px 0;
  }
}
