/* JourneyPage.css */

.JourneyPageContainer {
    /* Add styles for the main container of the JourneyPage */
    padding: 20px;
  }
  
  .header-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .journey-header {
    text-align: center;
    flex-grow: 1; /* Allows the header to take up available space */
    margin: 0; /* Removes default margin */
    color: #182C63; /* Adjust the color as needed */
    font-size: 75px;
  }
  
  .ChangeButton {
    text-align: right;
    flex-shrink: 0; /* Prevents the button container from shrinking */
  }
  
  .ChangeButton button {
    /* Style the change answers button */
    background-color: #182C63;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ChangeButton button:hover {
    /* Style for hover state of the change answers button */
    background-color: #6e217d;
  }
  
  .step-content {
    /* Style the container for the step content */
    margin-top: 40px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* General mobile adjustments */
@media (max-width: 768px) {
    .JourneyPageContainer {
      padding: 10px;
    }
  
    .header-button-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .ChangeButton {
      text-align: center;
      width: 100%;
      margin-top: 10px;
    }
  
    .ChangeButton button {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  
    .step-content {
      margin-top: 20px;
      padding: 10px;
    }
  }
  
  /* iPhone-specific adjustments */
  @media (max-width: 375px) {
    .journey-header {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 414px) {
    .journey-header {
      font-size: 2.2rem;
    }
  }
  