.overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Cover full viewport width */
    height: 100vh; /* Cover full viewport height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
  
.overlay {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    width: 60%; /* Adjusted width */
    max-width: 800px; /* Maximum width */
    text-align: center;
    display: flex; /* Enable flex container */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align children */
    position: relative; /* Position relative for absolute positioning of children */
}
  
.overlay h2 {
    color: #182C63; /* Matches the blue header color */
    margin-bottom: 30px;
    font-size: 2rem; /* Increased font size */
}
  
.overlay p {
    margin-bottom: 30px;
    color: #666666; /* Dark grey text */
    font-size: 1.25rem; /* Increased font size */
}
  
.overlay label {
    display: flex; /* Use flexbox for label */
    flex: 1; /* Flex grow to split width evenly */
    margin: 10px;
    cursor: pointer;
}
  
.overlay input[type="radio"] {
    display: none; /* Hide radio button */
}
  
/* Removed the circle indicators */
.overlay label:before {
    content: none;
}
  
/* Style for the container of the option cards */
.options-container {
    display: flex; /* Use flexbox for options */
    justify-content: space-around; /* Distribute space evenly */
    width: 100%; /* Full width */
    flex-wrap: wrap; /* Allow wrapping if needed */
}

.overlay .option-card {
    background-color: #fff; /* White background */
    border: 2px solid #182C63; /* Blue border */
    color: #182C63; /* Blue text */
    padding: 20px; /* Increased padding for a larger box */
    flex: 1; /* Flex grow to split width evenly */
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: all 0.3s ease;
    text-align: center; /* Center text */
    min-width: 100px; /* Minimum width */
}

.option-card:hover {
    background-color: #182C63; /* Blue background on hover */
    color: #fff; /* White text on hover */
    border: 2px solid #182C63; /* Maintain blue border on hover */
}

.overlay input[type="radio"]:checked + .option-card {
    background-color: #182C63; /* Blue background for selected */
    color: white; /* White text for selected */
    border: 2px solid #182C63; /* Maintain blue border for selected */
}

.overlay button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #182C63;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease; /* Transition for hover effect */
}
  
.overlay button:hover {
    background-color: #ffff;
    color: #182C63;
    border: 2px solid #182C63; /* Border color same as background */
    border-radius: 2px;
}
  
/* Additional style for when buttons are side by side */
.overlay button:not(:last-child) {
    margin-right: 20px;
}

.back-button {
    width: 15%;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 15%; /* Set the width of the button to be 15% of its parent's width */
    padding: 10px 20px;
    background-color: #182C63; /* Main color */
    color: white; /* White text */
    border: 2px solid #182C63; /* Border color same as background */
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
    font-size: 1rem;
    text-align: center; /* Ensure text is centered */
}

.back-button:hover {
    background-color: #2a3f73; /* Lighter shade of the main color for hover */
    color: white; /* Keep text white */
}

.back-button:active {
    background-color: #3a4f83; /* Even lighter shade for active/click */
    color: white; /* Keep text white */
    transform: scale(1.05); /* Slightly enlarge the button when pressed */
}


.return-button {
    position: absolute;
    top: 10px;
    right: 10px; /* Position it to the top-right corner of the overlay */
    width: 15%; /* Set the width of the button to be 15% of its parent's width */
    padding: 10px 20px;
    background-color: #182C63; /* Main color */
    color: white; /* White text */
    border: 2px solid #182C63; /* Border color same as background */
    border-radius: 2px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
    font-size: 1rem;
    text-align: center; /* Ensure text is centered */
}

.return-button:hover {
    background-color: #2a3f73; /* Lighter shade of the main color for hover */
    color: white; /* Keep text white */
}

.return-button:active {
    background-color: #3a4f83; /* Even lighter shade for active/click */
    color: white; /* Keep text white */
    transform: scale(1.05); /* Slightly enlarge the button when pressed */
}
