@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.student-about-container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    max-width: 100%;
}

/* General Styling */
.student-about-container {
    margin: 0 auto;
    padding: 20px;
}

/* Program Overview */
.program-wwa {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 2vh;
    border-radius: 1vh;
    margin-bottom: 4vh;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 100%;
}

.program-wwa img {
    width: 60%;
    flex: 1;
    height: auto;
    border-radius: 1vh;
}

.program-wwa .program-statement-text {
    flex: 1;
    padding: 2vh;
    text-align: left;
}

.program-wwa h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1vh;
    color: #182C63;
}

.program-wwa p {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 0;
}

.program-wwa .highlight {
    color: #182C63;
    font-weight: bold;
}

/* Students Grid */
.overlay-student {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%; /* Match the width of the image */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1); /* More transparent */
}

.students-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
}

.student-box {
    background-color: rgba(24, 44, 99, 0.6); /* More transparent */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vh;
    text-align: center;
    padding: 0.5vh; /* Reduced padding */
    font-size: 0.8rem; /* Smaller font size */
    height: fit-content; /* Ensure it fits the content */
    transition: transform 0.2s, background-color 0.2s; /* Smooth transition */
    cursor: pointer;
}

.student-box:hover {
    background-color: rgba(24, 44, 99, 0.8); /* Darker on hover */
    transform: scale(1.05); /* Slightly larger on hover */
}

.student-box:active {
    transform: scale(0.95); /* Slightly smaller on click */
}

.student-box a {
    color: #fff;
    text-decoration: none;
}

.close-overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #182C63;
    color: #fff;
    border: none;
    border-radius: 0.5vh;
    padding: 0.5vh 1vh;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1;
}

/* Key Components */
.key-components-container {
    background-color: #fff;
    padding: 2vh;
    border-radius: 1vh;
    margin-bottom: 4vh;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
}

.key-components-container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 2vh;
}

.key-components-content {
    display: flex;
    justify-content: space-between;
}

.key-components {
    flex: 0 1 50%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.key-components li {
    font-size: 1rem;
    padding: 1.5vh 1vh;
    border-radius: 0.5vh;
    background-color: #f0f0f0;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 1vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.key-components li img.component-image {
    max-width: 85%;
    margin-top: 1vh;
    align-self: center;
    border-radius: 0.5vh;
}

.key-components li.active {
    background-color: #182C63;
    color: #fff;
}

.key-components li.active img.component-image {
    display: block;
}

.component-details {
    flex: 0 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details {
    width: 100%;
}

.details-column-requirements,
.details-column {
    width: 100%;
    padding: 2vh;
    background-color: #182C63;
    color: #f0f0f0;
    border-radius: 1vh;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    margin-bottom: 2vh;
}

.details-column h4,
.details-column-requirements h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1vh;
}

.details-column ul,
.details-column-requirements ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.details-column ul li,
.details-column-requirements ul li {
    font-size: 1rem;
    margin-bottom: 0.5vh;
    display: flex;
    align-items: center;
}

.details-column ul li img.check-icon,
.details-column-requirements ul li img.check-icon {
    width: 2vh;
    height: 2vh;
    margin-right: 1vh;
}

.details-column p,
.details-column-requirements p {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 1vh;
}

/* Events and Requirements */
.events-requirements-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
    gap: 2vh;
    height: 100%;
}

.statistics-content {
    width: 60%;
    padding: 2vh;
    background-color: #fff;
    border-radius: 1vh;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vh;
}

.statistics-content .stat-item {
    margin-bottom: 2vh;
}

.statistics-content .stat-item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1vh;
    color: #182C63;
}

.statistics-content .stat-item p,
.statistics-content .stat-item ul {
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.statistics-content .highlight-stat {
    font-weight: bold;
    color: #182C63;
}

.events-section {
    width: 40%;
    padding: 2vh;
    background-color: #fff;
    border-radius: 1vh;
    box-shadow: 0 0.2vh 0.4vh rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.events-services-content {
    width: 100%;
}

.events-services-image {
    width: 100%;
}

.events-services-image img {
    max-width: 100%;
    height: auto;
    border-radius: 1vh;
}

.events-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.events-buttons button {
    font-size: 1rem;
    padding: 1vh 2vh;
    margin-right: 1vh;
    border: none;
    border-radius: 0.5vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

.events-buttons button.active-button {
    background-color: #182C63;
    color: #fff;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
    .program-wwa {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2vh;
        margin: 0; /* Remove margins */
    }

    .program-wwa img {
        width: 100%;
        max-width: 100%;
        margin: 0 0 1vh 0;
    }

    .program-wwa .program-statement-text {
        width: 100%;
        max-width: 100%;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    .program-wwa h3 {
        font-size: 1.4rem;
        margin-bottom: 1vh;
    }

    .program-wwa p {
        font-size: 1rem;
        line-height: 1.4;
        text-align: justify;
        margin: 0 auto;
        width: 95%;
        max-width: 100%;
        margin-bottom: 1vh;
    }

    .key-components-content {
        flex-direction: column;
    }

    .key-components,
    .component-details {
        width: 100%;
    }

    .details-column-requirements,
    .details-column {
        width: 100%;
    }

    .events-requirements-container {
        flex-direction: column;
    }

    .statistics-content,
    .events-section {
        width: 100%;
        height: auto;
    }

    .events-buttons {
        flex-direction: column;
    }

    .events-buttons button {
        margin-bottom: 1vh;
    }

    .events-buttons button:last-child {
        margin-bottom: 0;
    }

    .overlay-student {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1); /* More transparent */
    }

    .students-grid {
        width: 100%;
        max-height: 200px; /* Limit height for mobile */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1px; /* Reduced gap */
    }

    .student-box {
        font-size: 0.6rem; /* Smaller font size */
        width: 60%; /* Ensure student boxes fit within the grid */
        transition: transform 0.2s, background-color 0.2s; /* Smooth transition */
    }

    .student-box:hover {
        background-color: rgba(24, 44, 99, 0.8); /* Darker on hover */
        transform: scale(1.05); /* Slightly larger on hover */
    }

    .student-box:active {
        transform: scale(0.95); /* Slightly smaller on click */
    }

    .close-overlay {
        position: absolute;
        top: 10px;
        right: 10px;
        background: #182C63;
        color: #fff;
        border: none;
        border-radius: 0.5vh;
        padding: 0.5vh 1vh;
        cursor: pointer;
        font-size: 1rem;
        z-index: 1;
    }
}
