.buddy-system-container {
    padding: 20px;
  }
  
  .services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between buttons as needed */
    justify-content: center; /* Center the buttons */
    margin-bottom: 20px;
  }
  
  .service-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 180px; /* Set a fixed width for all buttons */
    text-align: center; /* Center the text inside the button */
  }
  
  .service-button.active {
    background-color: #182C63;
    color: #ffffff;
  }
  
  .service-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service-detail {
    width: 60%; /* Adjust width as needed */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .service-image {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #cccccc; /* Placeholder color for the image */
  }
  