.interview-prep-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 5px 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.interview-prep-container h1 {
  text-align: center;
  color: #ffffff;
  font-size: 35pt;
}

.banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: #e7e7e7;
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.page-description {
  text-align: justify;
  padding: 15px;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.content-section {
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease;
  margin: 15px 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #373751;
  color: white;
  cursor: pointer;
}

.section-header:hover {
  background-color: #1fa1c4;
}

.section-content {
  display: none;
  background-color: #f7f7f7;
  padding: 10px;
  border-top: 2px solid #373751;
}

.content-section.expanded .section-content {
  display: flex;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transition: transform 0.3s ease;
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.section-header:hover .arrow {
  transform: scale(1.3);
}

.content-image {
  width: 150px;
  height: auto;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.content-image:hover {
  transform: scale(1.25);
}

@media (max-width: 768px) {
  .section-content {
    flex-direction: column;
  }

  .content-image {
    width: 100%;
    margin-bottom: 15px;
  }

  .banner {
    height: 200px;
  }

  .banner-title {
    font-size: 1.8rem;
  }
}
