/* General Body Style */
body {
    margin: 0;
    padding: 0;
    background-color: #F5F5FA; /* Adjusted to a more subtle shade */
    font-family: 'Roboto', sans-serif;
}

/* Container for Partners Section */
.partners-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px 0; /* Adjusted top and bottom padding */
    text-align: center;
}

/* Slider Wrapper */
.slider-wrapper {
    width: 85%;
    margin: 20px auto; /* Adds space above and below the slider */
    padding: 0;
}

.partner-slide {
    padding: 15px;
    background-color: rgba(245, 245, 250, 0.8);
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 5px; /* Ensure there's a 5px gap around each slide */
    width: 220px;
    height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Ensures text fits within the square container */
.partner-slide h3 {
    font-size: 0.95rem;
    text-align: center;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.partner-logo {
    width: auto;
    max-height: 120px; /* Adjusted for consistent size */
    margin-bottom: 15px;
}

/* Customizing slick slider dots and arrows for better visibility */
.slick-dots li button:before, .slick-prev:before, .slick-next:before {
    color: #4A4A4A; /* Ensures visibility against the semi-transparent background */
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .partner-slide {
        width: 180px; /* Smaller size for responsive design */
        height: 180px;
    }
}

@media (max-width: 480px) {
    .slider-wrapper {
        width: 95%; /* Allows more width on very small screens */
    }
    .partner-slide {
        width: 150px; /* Further reduction for small devices */
        height: 150px;
    }
}
