/* General Body Style */
body {
    margin: 0;
    padding: 0;
    background-color: #FCF7FF; /* Light purple background */
    font-family: 'Roboto', sans-serif;
}

/* Full-width Container for Partners Section */
.partners-container {
    width: 100%;
    padding: 20px;
    background-color: #F7F7F7; /* Light gray background for container */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center; /* Center content horizontally */
}

/* Heading and Text Styles */
.partners-container h1, .partners-container h2, .partners-container p {
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Responsive font size */
    color: #101D42; /* Oxford Blue for text */
    margin-bottom: 20px;
}

/* Description Text Style */
.description-text {
    margin: 0 auto 20px;
    max-width: 800px; /* Ensures descriptions don't become too wide on large screens */
    color: #333; /* Dark text for readability */
    font-size: 1rem;
}

/* Grid for Partner Cards */
.partners-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Individual Partner Card Style */
.partner {
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    background-color: #fff; /* White background for partners */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

.partner:hover {
    transform: translateY(-5px); /* Slightly raise the card on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Increase shadow for depth effect on hover */
}

.partner-logo {
    width: 100px;
    height: auto;
    margin: auto;
    display: block;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .partners-grid {
        flex-direction: column;
    }

    .partner {
        width: 100%;
    }
}

/* Progress Bar Container */
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 20px 0;
}

/* Progress Bar Style */
.progress-bar {
    height: 20px;
    background-color: #4caf50;
    border-radius: 5px;
    width: 0%; /* Initial width, dynamically adjusted with JS */
    position: relative;
    transition: width 0.5s ease-in-out;
}

/* School Icon Style */
.school-icon {
    position: absolute;
    right: -20px; /* Adjust based on the size of your icon */
    top: -5px;
}
