.homepage {
    box-sizing: border-box;
    overflow-x: hidden;
}

.content {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-image: url('../assets/images/home-banner.png');
    background-size: cover;
    background-position: center;
    height: 96vh;
    z-index: -1;
    position: relative;
    width: 100%;
}

.banner-text {
    flex: 1;
    max-width: 30%;
    margin-left: 5rem;
}

.content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #000;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.about {
    display: flex;
    flex-direction: column; /* Change to column layout on smaller screens */
    gap: 3rem;
    margin-top: 4rem;
    padding-bottom: 2rem; /* Added padding to the bottom to prevent content overlap */
    background-position: center;
    background-size: cover;
    width: 100%;
}

.image-container1 {
    align-self: center; /* Center the image horizontally */
    margin-left: 0;
    max-width: 100%;
    text-align: center;
}

.text {
    margin-top: 0; /* Remove extra margin on smaller screens */
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 800;
    color: #182e78;
    text-align: center; /* Center text on smaller screens */
    margin-bottom: 15px;
}

.about-text {
    font-size: 24px;
    max-width: 100%; /* Allow the text to take full width */
    text-align: center; /* Center align the text */
}

span {
    color: #182e78;
}

span:hover {
    text-decoration: underline;
}

.cta-button-container {
    text-align: center; /* Adjust alignment as necessary */
    margin-top: 20px;
}

.cta-button {
    background-color: #182C63; /* Match the existing branding color */
    color: #fff;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0f1a46; /* Slightly darker shade for hover effect */
}

/* Responsive design adjustments */
@media (max-width: 1200px) {
    .banner-text {
        max-width: 30%;
    }

    .content {
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        height: 78vh;
    }

    .content h1 {
        font-size: 28px;
    }

    .image-container1 img {
        max-width: 100%;
        height: 100%;
    }

    .about {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 20px;
        padding-bottom: 2rem; /* Ensure padding is consistent on smaller screens */
    }

    .title {
        text-align: center;
        font-size: 24px;
    }

    .about-text {
        max-width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .image-container1 {
        margin-left: 0;
    }

    .text {
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .banner-text {
        max-width: 30%;
        margin-left: 0rem;
        padding: 0;
    }

    .content {
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        height: 78vh;
    }

    .content h1 {
        font-size: 20px;
    }

    .image-container1 img {
        max-width: 100%;
        height: 100%;
    }

    .about {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 20px;
        padding-bottom: 2rem; /* Ensure padding is consistent on smaller screens */
    }

    .title {
        text-align: center;
        font-size: 24px;
    }

    .about-text {
        max-width: 100%;
        font-size: 18px;
        text-align: center;
    }

    .image-container1 {
        margin-left: 0;
    }

    .text {
        margin-top: 2rem;
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 18px;
    }

    .banner-text {
        font-size: 18px;
    }

    .title {
        font-size: 20px;
    }

    .about-text {
        font-size: 16px;
    }

    .about {
        gap: 1.5rem;
    }

    .student-placement,
    .key-components {
        padding: 0 15px; /* Add padding to avoid overlap */
    }
}
