.content3 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-image: url('../assets/images/partners.png');
    background-size: cover;
    background-position: center;
    height: 96vh;
    z-index: -1;
    position: relative;
    width: 100%;
}

.heroSection-text3 {
    flex: 1;
    max-width: 30%;
    margin-left: 1.5rem;
    text-align: center;
}

.heroSection-text3 p{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
.content3 h1 {
    font-size: 7rem;
    font-weight: bold;
    color: #000;
}

.about3 {
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    height: 35vh;
    display: flex;
}

.about-text3 {
    max-width: 70%;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5em;
    text-align: center;
    justify-content: center;
}

.program3 {
    text-align: center;
    margin-bottom: 30px;
}

.program-title3 {
    margin-top: 40px;
    margin-bottom: 10px;
    color: #182C63;
    font-weight: 900;
    font-size: 2em;
}

.program-subtitle3 {
    font-size: 18px;
    color: gray;
    margin-bottom: 30px;
}

.program-cards3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.program-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.card3 {
    background-color: #f0f8ff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon3 {
    width: 100px; 
    height: 100px; 
    border-radius: 30%;
    background-color: #1a73e8;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon3 img {
    max-width: 100%; /* Ensure the image is not too large */
    max-height: 100%; /* Ensure the image is not too large */
}

.card3 h3 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.card3 p {
    font-size: 16px;
    line-height: 1.5;
}

.investment-page {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    width: 100%;
    box-sizing: border-box;
}
  
.hero-section {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
}
  
.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}
  
.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}
  
.cta-button {
    background-color: #00A1E0;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
  
.cta-button:hover {
    background-color: #007B9E;
}
  
.content-container {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}
  
.introduction-section {
    background: white;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px;
}
  
.introduction-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
  
.introduction-section p {
    font-size: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
  
.benefits-section {
    background: white;
    padding: 40px 20px;
    margin-bottom: 40px;
}
  
.benefits-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}
  
.benefits-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
  
.benefit {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px); /* Three benefits per row */
    box-sizing: border-box;
  }
  
  .benefit h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #182C63;
  }
  
  .benefit p {
    font-size: 1rem;
    line-height: 1.4;
  }
  
  .key-stats-section {
    background: white;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .key-stats-section h2 {
    margin-top: 100px;
    margin-bottom: 10px;
    color: #182C63;
    font-weight: 900;
    font-size: 2em;
  }
  
  .charts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .chart-wrapper {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
  }
  
  .chart-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #182C63;
  }
  
  .impact-section {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .impact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .impact-section p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
  
  .testimonials-section {
    background: white;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .testimonials-section h2 {
    margin-top: 100px;
    margin-bottom: 10px;
    color: #182C63;
    font-weight: 900;
    font-size: 2em;
  }
  
  .testimonials-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .testimonial {
    background-color: #f0f8ff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .testimonial p {
    font-size: 1rem;
    line-height: 1.4;
    color: #333;
  }
  
  .testimonial-author {
    font-weight: bold;
    margin-top: 10px;
    color: #182C63;
  }
  
  .cta-section {
    background: #182C63;
    color: white;
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .cta-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .custom-tooltip {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
  }
  
  .custom-tooltip .label {
    font-weight: bold;
  }
  
  .custom-tooltip .intro {
    margin-top: 5px;
  }

  @media (max-width: 768px) {

    .content3 {
        /* padding: 20px;
        height: auto; */
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -1;
        height: 78vh;
    }

    .heroSection-text3 {
        max-width: 30%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .content3 h1 {
        font-size: 3rem;
        margin-left: 0;
        max-width: 30%;
        text-align: center;
    }
    .content3 p {
        font-size: .8rem;
    }
    .about3 {
        flex-direction: column;
        margin-top: 30px;
        height: auto;
    }

    .about-text3 {
        max-width: 100%;
        font-size: 1.2rem;
    }

    .program-cards3 {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card3 {
        width: 100%;
        padding: 15px;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .introduction-section h2 {
        font-size: 2rem;
    }

    .introduction-section p {
        font-size: 1.2rem;
    }

    .benefits-section h2 {
        font-size: 2rem;
    }

    .benefit {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .charts-container {
        flex-direction: column;
    }

    .chart-wrapper {
        width: 100%;
        margin-bottom: 20px;
    }

    .testimonials-container {
        flex-direction: column;
    }

    .testimonial {
        width: 100%;
        margin-bottom: 20px;
    }

    .cta-section h2 {
        font-size: 2rem;
    }
}