/* NavBar.css - Styles specific to NavBar component */

.header.hidden {
  top: -100%; /* Move the navbar out of view when hidden */
}

.header {
  display: flex;
  flex-direction: row; /* Laying out items horizontally */
  justify-content: space-between; /* Aligns logo to the left and nav links to the right */
  align-items: center; /* Center items vertically */
  padding: 2rem; /* Increased padding for a larger navbar */
  background-color: #373751;
  color: #fcf7ff;
  width: 100%;
  box-sizing: border-box;
  position: fixed; /* Stick to the top */
  top: 0;
  transition: top 0.3s ease-in-out; /* Smooth transition for the top property */
  z-index: 1000; /* High z-index to ensure navbar is above other content */
}

.logo-link {
  display: flex;
  justify-content: flex-start; /* Align logo to the start (left) */
  padding: 0.5rem 0; /* Maintain padding around the logo */
}

.logo {
  flex-shrink: 0; /* Prevent logo from shrinking */
  height: auto;
  max-height: 75px; /* Adjusted logo size */
}

.nav-links {
  display: flex;
  align-items: center; /* Center links vertically */
  list-style: none;
  margin: 0;
  padding: 0.5rem 0; /* Added padding around links */
}

.nav-links a, .dropdown .dropbtn {
  color: #fcf7ff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px; /* Rounded edges for each link */
  background-color: transparent; /* Background color for individual link blocks */
  margin: 0.5rem; /* Spacing between link blocks */
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover, .dropdown .dropbtn:hover {
  background-color: #1fa1c4; /* Slightly lighter background on hover */
  color: #fdca40;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #fcf7ff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.dropbtn::after {
  content: '▼';
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #373751;
  width: 100%; /* Set the width of the dropdown to match the dropbtn */
  max-height: 0; /* Start with max-height 0 */
  overflow: hidden; /* Hide the overflow content */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  transition: max-height 0.3s ease-in-out; /* Animate max-height */
}

.dropdown-content a {
  color: #fcf7ff;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* Each link takes its own row */
  text-align: center; /* Center the text */
  background-color: #373751;
  border-radius: 4px;
}

.dropdown-content a:hover {
  background-color: #1fa1c4;
}

.dropdown:hover .dropdown-content {
  max-height: 200px; /* Adjust max-height to fit content */
}

.logo-link:hover {
  outline: none;
  background-color: transparent;
  text-decoration: none;
  /* Add any other styles you want to apply on hover */
}

.logo-link:focus {
  outline: none;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav-links, .dropdown-content {
    width: 100%;
  }

  .nav-links a, .dropdown .dropbtn {
    text-align: center;
    width: 100%;
    margin: 0.5rem 0; /* Adjust margin for mobile view */
  }

  .logo {
    max-height: 100px; /* Adjust logo size for smaller screens if needed */
  }
}
