/* Navbar Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #ffffff; /* Solid white for pages other than the homepage */
  color: #101D42;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10000;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Transparent navbar style when on the homepage */
.home-navbar {
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* Frosted glass effect for Safari */
}

/* Center group of links */
.center-links {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Spacing between the links */
}

.center-links .nav-link {
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.center-links .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Slightly less transparent on hover */
  color: #0056b3;
}

.logo-link {
  display: flex;
  align-items: center;
}

.logo {
  height: auto;
  width: 85%;
  max-height: 4em;
}

.continue-button .continue-link {
  text-decoration: none;
  background-color: #101D42; /* Dark blue background */
  color: #FCF7FF; /* White text */
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transition */
}

.continue-button .continue-link:hover {
  background-color: #FCF7FF; /* White background on hover */
  color: #101D42; /* Dark blue text on hover */
}

.header.hide {
  transform: translateY(-100%);
}

.header.show {
  transform: translateY(0);
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .logo {
    max-height: 3em;
  }

  .continue-button .continue-link,
  .center-links .nav-link {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

/* iPhone-specific adjustments */
@media (max-width: 375px) {
  .header {
    padding: 0.8rem;
  }

  .logo {
    max-height: 2.5em;
  }

  .continue-button .continue-link,
  .center-links .nav-link {
    padding: 7px 14px;
    font-size: 0.8rem;
  }
}

@media (max-width: 414px) {
  .header {
    padding: 0.9rem;
  }

  .logo {
    max-height: 2.8em;
  }

  .continue-button .continue-link,
  .center-links .nav-link {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
