.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/networking_event.jpeg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 75vh;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-title {
  font-size: 4rem;
  color: #fcf7ff;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.main-description {
  font-size: 1.5rem;
  color: #fcf7ff;
  margin: 0.5rem 0;
}

.main-ticket-button {
  background-color: #373751;
  color: #fcf7ff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.main-ticket-button:hover {
  background-color: #1fa1c4;
  color: #fdca40;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  background-color: transparent;
  padding: 20px;
}

.conference-button {
  background-color: #373751;
  padding: 14px 30px;
  border-radius: 30px;
  font-size: 16px;
  color: #fcf7ff;
  cursor: pointer;
  flex: 1;
  text-align: center;
  transition: all 0.3s;
}

.conference-button:hover {
  background-color: #373751;
  color: #fdca40;
}

.video-container {
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.section-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}

.section-image {
  width: 45%;
  border-radius: 10px;
  object-fit: contain;
}

.text-box {
  background-color: rgba(55, 55, 81, 0.8);
  color: #fcf7ff; /* Set text color to white for better visibility */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1rem;
  max-width: 90%;
  text-align: left;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow to text */
}

.brand-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin-top: 80px;
  gap: 20px;
}

.brand-content {
  flex: 1;
  padding-right: 40px;
}

.brand-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.brand-description {
  font-size: 16px;
}

.brand-photos {
  flex: 2;
  position: relative;
  padding-left: 40px;
  display: flex;
  justify-content: space-around;
}

.brand-photo {
  width: 45%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  margin: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-title {
    font-size: 2.5rem;
  }

  .main-description {
    font-size: 1rem;
  }

  .section-content {
    flex-direction: column;
  }

  .button-group,
  .main-info,
  .brand-section {
    flex-direction: column;
  }

  .conference-button,
  .ticket-section,
  .brand-content,
  .brand-photos {
    width: 100%;
    text-align: center;
  }

  .conference-info,
  .ticket-section {
    padding: 20px 0;
  }

  .brand-photo {
    width: 80%;
    max-width: 400px;
  }
}
