.companies-section {
    text-align: center;
    padding: 20px;
    /* background-color: #f2f8fb; */
    background: linear-gradient(to bottom,#f2f8fb, #e0f7ff );
}
.companies-section h2{
    color: #182C63;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30px;
}
.companies-section h3{
    color: #182C63;
    font-size: 25px;
    text-transform: uppercase;
}
.companies-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
    margin: 20px 0; 
    max-width: 800px;
    transform: translateX(40%);
}
  
.company-logo {
    width: 150px;
    height: auto;
    object-fit: contain;
}
  
.category-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
  
.category-buttons button {
    padding: 10px 20px;
    border: none;
    background-color: #182C63;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.category-buttons button.active,
.category-buttons button:hover {
    background-color: #0056b3;
}
  

@media (max-width: 1200px){
    .companies-logos {
        gap: 20px;
        padding: 10px;
        transform: none;
    }

    .company-logo {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .companies-logos {
        gap: 20px;
        padding: 10px;
        transform: none;
    }

    .company-logo {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .companies-logos {
        gap: 10px;
        padding: 5px;
    }

    .company-logo {
        width: 100px;
    }
}
/* .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
  
  .logo {
    max-width: 100px;
    height: auto;
    object-fit: contain;
  } */