.chart-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 6vh;
}

.chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: red; 
}

.chart-title {
    font-size: 1.5rem;
    text-align: center;
    color: #182C63;
}

.pie-chart-container {
    display: flex;
    height: 400px;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 5px; 
    padding: 5px 0px; 
  }

.hover-info, .hover-info1 {
    position: absolute;
    top: 50%;
    background:rgba(82, 82, 82, 0.5); ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    font-size: 0.9rem;
}
@media (max-width: 800px){
    .chart-wrapper{
        width: 60%;
    }
}
@media (max-width: 768px){
    .chart-container{
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
    .chart-wrapper{
        width: 80%;
    }

}