.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100%;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 6vh;
    gap: 20px;
    flex-wrap: wrap;
}

.chart-wrapper {
    position: relative;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.chart-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #182C63;
}

@media (max-width: 800px) {
    .chart-wrapper {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .chart-container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .chart-wrapper {
        width: 80%;
    }
}
