.become-speaker {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    padding-top: 80px;
  }
  
  .become-speaker h2 {
    text-align: center;
    color: #373751;
  }
  
  .become-speaker form {
    display: flex;
    flex-direction: column;
  }
  
  .become-speaker label {
    margin-bottom: 10px;
  }
  
  .become-speaker input[type="text"], 
  .become-speaker input[type="email"], 
  .become-speaker input[type="url"], 
  .become-speaker input[type="number"], 
  .become-speaker textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  .become-speaker input[type="file"] {
    margin-top: 5px;
  }
  
  .become-speaker button {
    padding: 10px;
    background-color: #1fa1c4;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .become-speaker button:hover {
    background-color: #373751;
  }
  