@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.student-about-container {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    max-width: 100%;
}

/* General Styling */
.student-about-container {
    margin: 0 auto;
    padding: 20px;
}

/* Program Overview */
.program-statement {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.program-statement img {
    flex: 1 1 50%; /* Set the image to 50% width */
    max-width: 50%;
    height: auto; /* Ensure the image maintains its aspect ratio */
    border-radius: 10px;
    margin-right: 20px; /* Add some space between image and text */
}

.program-statement-text {
    flex: 1 1 50%; /* Set the text container to 50% width */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    max-width: 50%;
}

.program-statement h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* Center align title */
}

.program-statement p {
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: justify; /* Justify align paragraph text */
    margin: 0 auto; /* Center the paragraph */
    width: 95%; /* Set width to 95% */
    max-width: 100%; /* Ensure text doesn't touch edges */
}

/* Key Components */
.key-components-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.key-components-container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.components-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.components-content ul {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
}

.components-content ul li {
    font-size: 1rem;
    padding: 15px 10px; /* Reduced padding */
    border-radius: 5px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, padding 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}

.components-content ul li:hover,
.components-content ul li.active {
    background-color: #182C63;
    color: #fff;
    padding: 20px 10px; /* Increased padding on hover and active state */
}

.component-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.component-image img {
    max-width: 100%;
    border-radius: 10px;
}

/* Component Details */
.component-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.details-column {
    flex: 0 1 30%;
    padding: 20px;
    background-color: #182C63;
    color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.details-column:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.details-column h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.details-column ul {
    list-style-type: none;
    padding: 0;
}

.details-column ul li {
    font-size: 1rem;
    margin-bottom: 5px;
}

.details-column p {
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 10px;
}

/* Events and Requirements */
.events-requirements-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px; /* Added gap between sections */
}

.requirements-section {
    flex: 0 1 38%; /* Adjusted width to be slightly smaller */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.requirements-section h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.requirements-content {
    flex: 1;
}

.requirements-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.requirements-content ul li {
    font-size: 1rem;
    padding: 10px 0;
}

.events-section {
    flex: 0 1 48%; /* Adjusted width to be slightly smaller */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.events-services-content {
    width: 100%;
}

.events-services-image {
    width: 100%;
}

.events-services-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.events-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.events-buttons button {
    font-size: 1rem;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.events-buttons button.active-button {
    background-color: #182C63;
    color: #fff;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .program-statement h3 {
        font-size: 1.8rem; /* Smaller font size for large screens */
    }

    .program-statement p {
        font-size: 1.4rem; /* Smaller font size for large screens */
    }
}

@media (max-width: 992px) {
    .program-statement h3 {
        font-size: 1.6rem; /* Smaller font size for medium screens */
    }

    .program-statement p {
        font-size: 1.2rem; /* Smaller font size for medium screens */
    }
}

@media (max-width: 768px) {
    .program-statement {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px; /* Reduced padding */
    }

    .program-statement img {
        width: 100%;
        max-width: 100%;
        margin: 0 0 10px 0; /* Reduced margin */
    }

    .program-statement-text {
        width: 100%;
        max-width: 100%;
        margin: 0;
        text-align: center; /* Center align text */
    }

    .program-statement h3 {
        font-size: 1.4rem; /* Smaller font size for mobile */
        margin-bottom: 10px; /* Added margin-bottom for spacing */
    }

    .program-statement p {
        font-size: 1rem; /* Smaller font size for mobile */
        line-height: 1.4; /* Adjusted line height for readability */
        text-align: justify; /* Justify align text */
        margin: 0 auto; /* Center align text */
        width: 95%; /* Set width to 95% */
        max-width: 100%; /* Ensure text doesn't touch edges */
        margin-bottom: 10px; /* Added margin-bottom for spacing */
    }

    .components-content {
        flex-direction: column;
    }

    .components-content ul,
    .component-image {
        width: 100%;
    }

    .component-image {
        margin: 0;
    }

    .component-details {
        flex-direction: column;
    }

    .details-column {
        width: 100%;
    }

    .events-requirements-container {
        flex-direction: column;
    }

    .requirements-section,
    .events-section {
        width: 100%;
    }

    .events-buttons {
        flex-direction: column;
    }

    .events-buttons button {
        margin-bottom: 10px;
    }

    .events-buttons button:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    .program-statement {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px; /* Reduced padding */
    }

    .program-statement img {
        width: 100%;
        max-width: 100%;
        margin: 0 0 10px 0; /* Reduced margin */
    }

    .program-statement-text {
        width: 100%;
        max-width: 100%;
        margin: 0;
        text-align: center; /* Center align text */
    }

    .program-statement h3 {
        font-size: 1.2rem; /* Smaller font size for small screens */
    }

    .program-statement p {
        font-size: 0.9rem; /* Smaller font size for small screens */
        width: 100%; /* Set width to 100% */
        max-width: 100%; /* Ensure text doesn't touch edges */
    }
}
