/* Journey.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro:wght@400;600&display=swap');

/* Specific styling for Journey page */
.journey-body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ffffff, #182C63);
  scroll-behavior: smooth;
  color: #333;
  min-height: 100vh; /* Ensure it takes full screen height */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

.journey-body--login {
  z-index: 9999999999;
}

.journey-main-content {
  padding: 5px 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-bottom: 5px solid #182C63;
  position: relative;
}

.hero__title-image {
  max-width: 80%;
  height: auto;
  margin-bottom: 10px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  border-bottom: 10px solid #182C63;
  padding-bottom: 80px;
}

.about-us-text {
  flex: 1;
  max-width: 80%;
  height: auto;
  padding-right: 0px;
  align-items: center;
}

.about-us-text h1 {
  font-size: 85px;
  color: #182C63;
  /* color: #ffffff; */
  font-family: 'Montserrat', sans-serif;
  margin: 0 0px;
  overflow: visible;
}

.highlight-box {
  background-color: #d8eeff; /* Highlight box color */
  padding: 5px 25px;
  margin: 5px 15px;
  border-radius: 10px;
  display: inline-block;
}

.about-us-text p {
  font-size: 30px;
  color: #333;
  line-height: 1.6;
}

.about-us-text .highlight {
  color: white;
  font-weight: bold;
}

.about-us-image {
  max-width: 65%;
  width: 100%;
  height: auto;
}

.description {
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
  border-bottom: 5px solid #182C63;
}

.description h2 {
  font-size: 36px;
  color: #182C63;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.description p {
  font-size: 18px;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.description .highlight {
  color: white;
  font-weight: bold;
}

.details-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #182C63;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 0px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 32%;
  font-size: x-large;
  position: relative; /* Required for absolute positioning of the arrow */
  overflow: hidden; /* Ensures the arrow does not overflow the button boundaries */
}

.details-button::after {
  content: '→'; /* Using a simple arrow symbol for demonstration */
  position: absolute;
  right: 20px; /* Distance from the right edge of the button */
  transition: transform 0.5s ease;
}

.details-button:hover::after {
  transform: translateX(10px); /* Moves the arrow to the right when hovering */
}

.details-button:hover {
  background-color: white;
  color: #182C63;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  z-index: 9999;
}

.Login-Header, .Login-Message {
  margin: 10px 0;
  color: #182C63;
}

.login-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #182C63;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login-container form div {
  display: flex;
  flex-direction: column;
}

.login-container form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-container form button {
  padding: 10px;
  background-color: #182C63;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-container form button:hover {
  background-color: #00A1E4;
}

.logout-button {
  padding: 10px 20px;
  background-color: #182C63;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.logout-button:hover {
  background-color: #00A1E4;
}

@media (max-width: 768px) {
  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .about-us-text {
    max-width: 100%;
    padding-right: 0;
  }

  .about-us-image {
    max-width: 70%;
    margin-top: 20px;
  }

  .login-container, .description {
    width: 90%;
  }

  .details-button {
    width: 85%;
    font-size: large;
  }
}
