@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Source+Sans+Pro:wght@400;600&display=swap');

/* Specific styling for Journey page */
.journey-body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ffffff, #182C63);
  scroll-behavior: smooth;
  color: #333;
  max-width: 100%;
  min-height: 100%; /* Ensure it takes full screen height */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: auto;
  height: auto;
}

.journey-main-content {
  padding: 5px 20px;
  border-radius: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-bottom: 5px solid #182C63;
  position: relative;
}

.hero__title-image {
  max-width: 75%;
  height: auto;
  margin-bottom: 5px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0;
  border-bottom: 10px solid #182C63;
  padding-bottom: 80px;
}

.about-us-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.about-us-text {
  flex: 1;
  max-width: 30%; /* Set max-width to 30% */
  height: auto;
  padding-right: 0px;
  align-items: flex-start; /* Align items to the left */
  display: flex;
  flex-direction: column;
  text-align: left; /* Align text to the left */
}

.about-us-text h1 {
  font-size: 85px;
  color: #182C63;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  overflow: visible;
}

.highlight-box {
  background-color: #d8eeff; /* Highlight box color */
  padding: 5px 25px;
  margin: 0; /* Adjust margin */
  border-radius: 10px;
  display: inline-block; /* Ensure the width fits the content */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 75px;
  text-align: left; /* Align text to the left */
}

.highlight-box:hover,
.highlight-container:hover .highlight-box {
  background-color: #00A1E4;
  color: white;
  transform: translateY(-2px);
}

.highlight-container {
  display: inline-block; /* Ensure the width fits the content */
  cursor: pointer; /* Add cursor pointer to indicate it is clickable */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Same transition as highlight-box */
  text-align: left; /* Ensure text is aligned to the left */
}

.about-us-text p {
  font-size: 30px;
  color: #333;
  line-height: 1.6;
}

.about-us-text .highlight {
  color: white;
  font-weight: bold;
}

.about-us-image {
  margin-top: 0px;
  max-width: 55%; /* Reduced width */
  width: 100%;
  height: auto;
}

.description {
  padding: 40px 20px;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;
  border-bottom: 5px solid #182C63;
}

.description h2 {
  font-size: 36px;
  color: #182C63;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}

.description p {
  font-size: 18px;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.description .highlight {
  color: white;
  font-weight: bold;
}

.details-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #182C63;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px; /* Provides space from the image */
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 15%; /* Adjust the width as needed */
  font-size: x-large;
  text-align: center; /* Ensure the text is centered */
  overflow: hidden; /* Ensures the arrow does not overflow the button boundaries */
  align-self: flex-end; /* Aligns the button to the right */
  position: relative; /* Ensure the button is positioned correctly within its container */
}

.details-button::after {
  content: '→'; /* Using a simple arrow symbol for demonstration */
  position: absolute;
  right: 20px; /* Distance from the right edge of the button */
  transition: transform 0.5s ease;
}

.details-button:hover::after {
  transform: translateX(10px); /* Moves the arrow to the right when hovering */
}

.details-button:hover {
  background-color: white;
  color: #182C63;
}

.coach:hover .highlight-box,
.place:hover .highlight-box,
.diverse-talent:hover .highlight-box {
  background-color: #00A1E4;
  color: white;
  transform: translateY(-2px);
}

/* Desktop adjustments for stacked layout */
@media (min-width: 1024px) {
  .highlight-container {
    display: block;
    width: 100%; /* Ensure the width fits the content */
  }

  .highlight-container .highlight-box {
    display: block;
    margin: 5px 0; /* Margin to stack vertically */
  }
}

/* Tablet adjustments */
@media (min-width: 601px) and (max-width: 1023px) {
  .about-us-text h1 {
    font-size: 60px;
  }

  .details-button {
    width: 25%;
    font-size: large;
  }

  .about-us-image {
    max-width: 70%;
    margin-top: 20px;
  }

  .description {
    width: 80%;
  }

  .highlight-container {
    display: inline-block;
    white-space: nowrap; /* Prevent line breaks within the container */
    width: auto; /* Ensure the width fits the content */
  }

  .highlight-container .highlight-box {
    margin: 5px 5px; /* Reduce margin between 'Diverse' and 'Talent' */
  }
}

/* Mobile adjustments */
@media (max-width: 600px) {
  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .about-us-content {
    flex-direction: column;
  }

  .about-us-text {
    max-width: 100%;
    padding-right: 0;
    align-items: flex-start; /* Align items to the left */
  }

  .about-us-text h1 {
    font-size: 36px;
  }

  .highlight-box {
    font-size: 50px;
    padding: 5px 15px;
    margin: 5px 0; /* Adjust margin */
    text-align: left; /* Align text to the left */
    display: inline-block; /* Ensure the width fits the content */
    white-space: nowrap; /* Prevent wrapping */
  }

  .highlight-container {
    display: inline-block; /* Ensure the width fits the content */
    text-align: left; /* Ensure text is aligned to the left */
    margin: 5px 0; /* Reduce margin between boxes */
  }

  .highlight-container .highlight-box {
    display: inline-block; /* Ensure the width fits the content */
    margin: 5px 0; /* Adjust margin to reduce space between boxes */
  }

  .about-us-image {
    max-width: 100%;
    margin-top: 20px;
  }

  .description {
    width: 90%;
  }

  .description h2 {
    font-size: 24px;
  }

  .description p {
    font-size: 16px;
  }

  .details-button {
    width: 85%;
    font-size: large;
  }

  .hero__title-image {
    max-width: 100%;
  }
}

/* Small mobile adjustments */
@media (max-width: 360px) {
  .about-us-text h1 {
    font-size: 28px;
  }

  .details-button {
    width: 90%;
    font-size: medium;
  }

  .highlight-box {
    font-size: 40px;
    padding: 5px 10px;
    margin: 5px 0; /* Adjust margin */
    text-align: left; /* Align text to the left */
    display: inline-block; /* Ensure the width fits the content */
    white-space: nowrap; /* Prevent wrapping */
  }

  .highlight-container {
    display: inline-block; /* Ensure the width fits the content */
    white-space: nowrap; /* Prevent line breaks within the container */
    text-align: left; /* Align text to the left */
    margin: 5px 0; /* Reduce margin between boxes */
  }

  .highlight-container .highlight-box {
    display: inline-block; /* Ensure the width fits the content */
    margin: 5px 0; /* Adjust margin to reduce space between boxes */
  }
}
