.steps-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 95%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.formatted-answers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.user-type-journey, .answers-container span {
    background-color: #e6e6e6;
    border-radius: 30px;
    padding: 12px 24px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin: 5px; /* Added vertical margin for better spacing */
    white-space: nowrap; /* Ensures text does not wrap */
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.user-type-journey:hover, .answers-container span:hover {
    background-color: #182C63;
    color: #fff;
}

.steps-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.step {
    padding: 12px 24px;
    cursor: pointer;
    background-color: #e6e6e6;
    color: #666;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.active-step {
    background-color: #182C63;
    color: #ffffff;
}

.button {
    width: 120px; /* Set a consistent width for buttons */
    padding: 10px 20px;
    cursor: pointer;
    background-color: #182C63;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.button:hover {
    background-color: #182C63;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}