.footer {
    color: #d1d5db;
    font-size: 14px;
    height: 40vh;
    background: linear-gradient(to bottom, #e0f7ff, #2870b6);
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.footer-admin-button {
    background-color: transparent;
    border: 1px solid #d1d5db;
    color: #d1d5db;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-admin-button:hover {
    background-color: #d1d5db;
    color: #2870b6; /* Matches your footer background color */
}

/* Existing styles */
.footer-links a,
.footer-social a {
    color: #d1d5db;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover,
.footer-social a:hover {
    color: #f3f4f6;
}

.footer-social a {
    font-size: 24px;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.footer-social {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

.footer-bottom p {
    margin: 0;
}

.footer-bottom a {
    color: #d1d5db;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #f3f4f6;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 29%;
    transform: translateX(128%);
}

.footer-button {
    background-color: #1c2a4d;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    cursor: pointer;
    font-size: 16px;
    width: 9rem;
    height: 7vh;
    transition: 0.3s;
}

.footer-button:hover {
    background-color: white;
    color: black;
    box-shadow: 10px 5px 5px rgb(30, 121, 201);
}

@media (max-width: 1200px) {

    .footer {
        height: 56vh;
    }

    .footer-bottom {
        flex-direction: column;
    }
    .footer-buttons{
        flex-wrap: wrap;
    }
    .footer-social {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
