/* NavBar.css - Styles specific to NavBar component */

.header.hidden {
  top: -100%; /* Move the navbar out of view when hidden */
}

.header {
  display: flex;
  flex-direction: row; /* Laying out items horizontally */
  justify-content: space-between; /* Aligns logo to the left and nav links to the right */
  align-items: center; /* Center items vertically */
  padding: 1rem;
  background-color: #373751;
  color: #fcf7ff;
  width: 100%;
  box-sizing: border-box;
  position: fixed; /* Stick to the top */
  top: 0;
  transition: top 0.3s ease-in-out; /* Smooth transition for the top property */
  z-index: 1000; /* High z-index to ensure navbar is above other content */
}

.logo-link {
  display: flex;
  justify-content: flex-start; /* Align logo to the start (left) */
}

.logo {
  flex-shrink: 0; /* Prevent logo from shrinking */
  height: auto;
  max-height: 85px; /* Adjust this for logo size */
}

.nav-links {
  display: flex;
  justify-content: center; /* Center the navigation links */
  align-items: center; /* Center links vertically */
  list-style: none;
  padding: 0;
  margin: 0; /* Removed margin-left */
  /* width: 75%; Optionally remove or adjust the width */
}

.nav-links a {
  color: #fcf7ff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: color 0.3s, text-shadow 0.3s;
}

.nav-links a:hover {
  color: #fdca40;
  /* text-shadow: 0 0 8px #fdca40; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  color: #fcf7ff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: inherit;
  font-size: 1rem;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav-links {
    justify-content: space-around;
    width: 100%;
  }

  .nav-links a {
    width: 100%;
    text-align: center;
  }

  .logo {
    max-height: 75px;
  }
}
