/* NavBar.css - Styles specific to NavBar component */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  position: fixed; /* Stick to the top */
  top: 0;
  transition: top 0.3s ease-in-out; /* Smooth transition for the top property */
  z-index: 1000; /* High z-index to ensure navbar is above other content */
}

.header.hidden {
  top: -100%; /* Move the navbar out of view when hidden */
}

.logo {
  flex-shrink: 0;
  height: auto;
  max-height: 75px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: color 0.3s, text-shadow 0.3s;
}

.nav-links a:hover {
  color: #ADD8E6;
  text-shadow: 0 0 8px #ADD8E6;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-links a {
    width: 100%;
    text-align: center;
  }
}
