/* MaintenancePage.css */
.maintenance-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4; /* Feel free to change this to match your branding */
  }
  
  .maintenance-container h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .maintenance-container p {
    font-size: 1rem;
    color: #666;
  }
  
  .maintenance-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .maintenance-container a:hover {
    text-decoration: underline;
  }
  