.linkedin-rebrand-container {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.explanation-section {
  background-color: #fff; /* This will be overridden by inline style */
  padding: 40px; /* Increased padding */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  min-height: 300px; /* Optional: Adjust this value as needed */
}


.tips-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tip {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  width: calc(50% - 10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tip:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.tips-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.full-width-banner {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border-radius: 8px;
}

.linkedin-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-top: 30px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #373751;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="url"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #1fa1c4;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #373751;
}

@media (max-width: 768px) {
  .tip, .tips-row {
    width: 100%;
    margin-right: 0;
  }

  .tip {
    width: 100%;
    margin-bottom: 20px;
  }
}
