@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.app-container, .App {
  font-family: Arial, sans-serif;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Padding and border are included in the width */
  background-color: #FCF7FF;
}

main {
  width: 100%; /* Full width */
  box-sizing: border-box; /* Padding and border are included in the width */
  background-color: #FCF7FF;
}

button, .ticket-button {
  padding: 1rem; /* Fixed padding, consider using em if needed */
  background-color: #373751;
  color: #FDCA40;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover, .ticket-button:hover {
  background-color: #1FA1C4;
}

:root {
  --navbar-height: 100px; /* Adjust this to match the height of your NavBar */
  --navbar-padding: 8px;
}

/* Adjusted class name for main content padding */
.main-content {
  padding-top: var(--navbar-height); /* Ensures content starts below the NavBar */
}

/* General mobile adjustments */
@media screen and (max-width: 768px) {
  button, .main-ticket-button, .ticket-button {
    padding: 0.75rem; /* Smaller padding for smaller screens */
  }
}

/* iPhone X and newer (portrait and landscape) */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
  .app-container, .App {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  button, .ticket-button {
    padding: 0.5rem; /* Smaller padding for buttons */
    font-size: 0.8rem; /* Smaller font size for button text */
  }

  .main-content {
    padding-top: 70px; /* Reduce padding-top for smaller screens */
  }

  /* Add more custom styles for iPhone screens here */
}

/* iPhone 8, 7, 6s, 6 (portrait and landscape) */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .app-container, .App {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  button, .ticket-button {
    padding: 0.5rem; /* Smaller padding for buttons */
    font-size: 0.8rem; /* Smaller font size for button text */
  }

  .main-content {
    padding-top: 70px; /* Reduce padding-top for smaller screens */
  }

  /* Add more custom styles for iPhone screens here */
}

/* General tablet adjustments */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .app-container, .App {
    font-size: 16px; /* Adjust font size for tablets */
  }

  button, .ticket-button {
    padding: 0.75rem; /* Adjust padding for buttons */
    font-size: 0.9rem; /* Adjust font size for button text */
  }

  .main-content {
    padding-top: 80px; /* Adjust padding-top for tablets */
  }
}

/* Desktop adjustments */
@media screen and (min-width: 1024px) {
  .app-container, .App {
    font-size: 18px; /* Adjust font size for desktops */
  }

  button, .ticket-button {
    padding: 1rem; /* Adjust padding for buttons */
    font-size: 1rem; /* Adjust font size for button text */
  }

  .main-content {
    padding-top: 100px; /* Adjust padding-top for desktops */
  }
}
