/* App.css - Global styles */
.app-container, .App {
  font-family: Arial, sans-serif;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Padding and border are included in the width */
  background-color: #fcf7ff;
}

.navbar {
  z-index: 1000; /* Any high number to ensure it's on top */;
}

/* Adjust padding to account for navbar height */
.Pages {
  z-index: 1; /* Any high number to ensure it's on top */
  padding-top: 120px; /* Use CSS variable for navbar height */
}

main {
  width: 100%; /* Full width */
  box-sizing: border-box; /* Padding and border are included in the width */
  background-color: #fcf7ff;
}

button, .ticket-button {
  padding: 1rem; /* Fixed padding, consider using em if needed */
  background-color: #373751;
  color: #fdca40;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for background color */
}

button:hover, .ticket-button:hover {
  background-color: #1fa1c4;
}

@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  button, .main-ticket-button, .ticket-button {
    padding: 0.75rem; /* Smaller padding for smaller screens */
  }
}

:root {
  --navbar-height: 90px; /* Height of the navbar */
  --navbar-padding: 15px;
}

.header {
  height: var(--navbar-height);
  /* ... other styles ... */
}

.content-wrapper {
  padding-top: var(--navbar-height);
}

/* Styles for mobile devices */
@media (max-width: 767px) {
  .app-container, .App {
      padding: 5px;
      font-size: 14px;
  }

  /* Adjust navbar height for mobile */
  :root {
      --navbar-height: 60px; /* Adjusted height for mobile screens */
  }

  .Pages {
      padding-top: var(--navbar-height); /* Adjust top padding for mobile navbar height */
  }
}

/* Styles for tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .app-container, .App {
      padding: 10px;
      font-size: 16px;
  }
}

/* Styles for desktop and larger screens */
@media (min-width: 1025px) {
  .app-container, .App {
      padding: 20px;
      font-size: 18px;
  }
}
