/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Styling */
body, .app-container, .App {
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-top: 90px;
  box-sizing: border-box;
  background-color: #FCF7FF; /* Magnolia for background */
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
  height: auto;
  display: block;
}

section {
  max-width: 95%; /* Centered look */
  margin: 40px auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner {
  position: relative; /* This ensures that the pseudo-element is positioned relative to the banner */
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

/* Adding a pseudo-element for the blue filter */
.banner::after {
  content: '';
  position: absolute; /* Position it over the banner */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(230, 237, 255, 0.5); /* Semi-transparent blue */
  pointer-events: none; /* Allows clicks to pass through to the banner */
}

/* Ensure the content of the banner is placed above the pseudo-element */
.banner-content {
  position: relative;
  z-index: 1; /* Higher z-index to ensure it's above the ::after pseudo-element */
  width: auto;
  text-align: center;
}


.banner-content .main-title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.banner-content .main-title img {
  max-width: 60%;
  height: auto;
}

/* P2E Description Section Adjustments */
.p2e-description {
  max-width: 90%;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.p2e-description .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.p2e-description h2 {
  color: #125D98; /* Slightly darker shade */
  font-size: 1.75rem; /* Slightly larger size */
  margin-bottom: 10px; /* Reduced space between title and description */
}

.details-button {
  background-color: #101D42; /* Dark blue color */
  color: #FFFFFF; /* White text */
  padding: 10px 20px;
  border-radius: 5px; /* Rounded corners */
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px; /* Space between the title and button */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.p2e-description .p2e-text {
  padding-top: 10px; /* Smaller space between title/button and description */
}

/* Corporate Logos Section */
.corporate-logos {
  max-width: 85%;
  margin: 40px auto;
  padding: 40px;
  display: flex;
  flex-direction: row-reverse; /* Image on the right, text on the left */
  justify-content: space-between;
  align-items: center;
  background-color: #F6F9FC; /* Original background color */
  color: #101D42; /* Original text color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.corporate-logos img {
  max-width: 40%;
  border-radius: 10px;
}

.corporate-logos .text-box {
  width: calc(60% - 40px);
  margin-left: 40px;
  margin-bottom: 0;
}

/* Mentorship Section */
.mentors-section {
  max-width: 85%;
  margin: 40px auto;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F9FC;
  color: #101D42;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mentors-section img {
  max-width: 40%;
  border-radius: 10px;
  margin-right: 20px;
}

.mentors-section .text-box {
  width: calc(60% - 60px);
  margin-bottom: 0;
}

/* Coach Section */
.coach-section {
  max-width: 85%;
  margin: 40px auto;
  padding: 40px;
  background-color: #F6F9FC;
  color: #101D42;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Events and Services Section */
.events-services-section {
  max-width: 85%;
  margin: 40px auto;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F6F9FC;
  color: #101D42;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .corporate-logos, .mentors-section, .events-services-section, .coach-section {
    flex-direction: column;
    text-align: center;
  }

  .corporate-logos img, .mentors-section img, .events-services-image img, .coach-section img {
    width: 100%;
    margin: 20px 0;
  }

  .corporate-logos .text-box, .mentors-section .text-box, .events-services-content, .coach-text-box {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
  }
}

.events-services-content {
  flex: 1;
  padding: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.events-services-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.events-services-bullets {
  list-style: none;
  padding: 0;
  margin: 0;
}

.events-services-bullets li {
  background-color: #FCBA04;
  color: #101D42;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.events-services-bullets li.active, .events-services-bullets li:hover {
  background-color: #101D42;
  color: #FCBA04;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.events-services-image {
  flex: 1;
  text-align: center;
  overflow: hidden;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.events-services-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .events-services-section {
    flex-direction: column;
    text-align: center;
  }

  .events-services-content {
    border-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .events-services-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}
